.ad-container {
    margin-top: 18px;
    margin-bottom: 14px;
    background-color: var(--orange90-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    border: 2px solid var(--gray15-color);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}
.ad-container.hide-ad {
    opacity: 0;
    transform: translateY(-20px);
  }
.ad-container::after {
    content: '';
    position: absolute;
    display: block;
    background-image: url('/assets/imgs/abstract_3.png');
    /* The image is used as a background to allow full control over its width and height for responsive */
    width: 72.35px;
    height: 72.41px;
    top: -25%;
    left: 28.66%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ad-container::before {
    content: '';
    position: absolute;
    display: block;
    background-image: url('/assets/imgs/abstract_2.png');
    /* The image is used as a background to allow full control over its width and height for responsive */
    width: 35.56px;
    height: 35.56px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    bottom: -7%;
    right: 31.04%;
}

.ad-container img.ad-decoration {
    width: 12%;
    height: 100%;
    object-fit: fill;
    opacity: 0.5;
}

.ad-text {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
}

.ad-text span {
    color: var(--gray15-color);
}

/* Start Responsive */
@media (max-width: 1919px) {
    .ad-container {
        margin-top: 12px;
        margin-bottom: 12px;
        border-radius: 6px;
        height: 48px;
    }

    .ad-container::after {
        width: 50.37px;
        height: 50.37px;
        top: -25%;
        left: 28.66%;
    }

    .ad-container::before {
        width: 32.59px;
        height: 32.59px;
        bottom: -23%;
        right: 31.04%;
    }

    .ad-container img.ad-decoration {
        margin-top: 1.5%;
        transform: scale(1.3);
    }
}

@media (max-width: 1200px) {
    .ad-container::after {
        left: 25%;
    }

    .ad-container::before {
        right: 25%;
    }
}

@media (max-width: 992px) {
    .ad-container::after {
        left: 10%;
    }

    .ad-container::before {
        right: 10%;
    }
}

@media (max-width: 540px) {
    .ad-container::after {
        left: 0%;
        width: 32.59px;
        height: 32.59px;
    }

    .ad-container::before {
        right: -4%;
    }

    .ad-container .ad-text img {
        width: 18px;
        height: 24px;
    }

    .ad-container .ad-text span {
        font-size: 0.875rem;
    }

    .ad-text {
        gap: 10px;
    }
}

@media (max-width: 390px) {
    .ad-container .ad-text img {
        width: 15px;
        height: 20px;
    }

    .ad-container .ad-text span {
        font-size: 0.65rem;
    }

    .ad-text {
        gap: 5px;
    }
}

/* End Responsive */