.history-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.history-info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.history-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.history-text .history-label{
    font-family: var(--headings-font-family);
    color: var(--gray10-color);
}
.history-text .history-desc{
    color: var(--gray20-color);
}
.year{
    font-family: var(--headings-font-family);
}
.line-decoration{
    position: absolute;
    top: 50%;
    left: -4%;
    width: 2.4vw;
    border: 2px solid var(--black-color);
    outline: 6px solid var(--orange80-color);
}
.history-card-container .shape1,
.history-card-container .shape2{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 2px solid var(--gray15-color);
    top: 45%;
}
.history-card-container .shape1{
    left: -0.5%;
}
.history-card-container .shape2{
    left: -5.5%;
}
@media (max-width: 1919px) {
    .history-info{
        gap: 40px;
    }
    .history-text{
        gap: 16px;
    }
    .history-decoration{
        width: 60px;
        height: 60px;
    }
}
@media (max-width: 992px) {
    .history-info{
        flex-direction: column;
        align-items: start;
    }
    .line-decoration{
        top: 20%;
        left: -4%;
        
    }
    .history-card-container .shape1,
    .history-card-container .shape2{
        top: 17%;
    }
    .history-card-container .shape1{
        left: -1%;
    }
}
@media (max-width: 540px) {
    .history-info{
        gap: 30px;
    }
    .history-text{
        gap: 12px;
    }
    .line-decoration{
        top: 12%;
        left: -8%;
        width: 5.641vw;
        outline: 3px solid var(--orange80-color);
    }
    .history-card-container .shape1,
    .history-card-container .shape2{
        top: 10%;
    }
    .history-card-container .shape1{
        left: -1%;
    }
    .history-card-container .shape2{
        left: -12%;
    }
}
@media (max-width: 389px) {
    .line-decoration{
        top: 14.5%;
        left: -5%;
        width: 3vw;
    }
    .history-card-container .shape1,
    .history-card-container .shape2{
        width: 15px;
        height: 15px;
        top: 13%;
    }
    .history-card-container .shape1{
        left: -1%;
    }
    .history-card-container .shape2{
        left: -8%;
    }
}