/* Google Fonts: Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Jaro:opsz@6..72&family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Google Fonts: Outfit*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Jaro:opsz@6..72&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*AOS (Animate On Scroll) Library*/
/* @import 'aos/dist/aos.css'; */

/* Start Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white-color: #fff;
  --black-color: black;

  --gray40-color: #656567;
  --gray30-color: #4C4C4D;
  --gray20-color: #333333;
  --gray15-color: #262626;
  --gray10-color: #1A1A1A;
  --gray5-color: #1E1E1E;

  --orange97-color: #FFF5F0;
  --orange95-color: #FFEFE5;
  --orange90-color:#FFDECC;
  --orange80-color: #FFBE99;
  --orange75-color: #FFAE80;
  --orange65-color: #FF8D4D;

  --headings-font-family: "Raleway", sans-serif;
}
body{
  background-color: var(--orange97-color);
  font-family: "Outfit", sans-serif; /* The default font for most site elements is 'Outfit',
                                        except for headings which have their own font set in their
                                        respective styles */

}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
/* Start Scrollbar Customization */
::-webkit-scrollbar {
  width: 12px; 
  height: 15px; 
}

::-webkit-scrollbar-track {
  background: var(--orange97-color); 
  border: 1px solid var(--gray15-color);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, var(--orange65-color),var(--orange75-color), var(--orange80-color));
  border: 1px solid var(--gray15-color);
}
/* End Scrollbar Customization */

.mx-50{
  margin-left: 2.604%;
  margin-right: 2.604%;
}
.mx-162{
  margin-left: 8.4375%;
  margin-right: 8.4375%;
}
.mt-200{
  margin-top: 10.417%;
}
.mt-100{
  margin-top: 5.2083%;
}
.fs-20{
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 150%;
}
.fs-22{
  font-size: 1.375rem;
  line-height: 150%;
}
.fs-28{
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 130%;
}
.fs-58{
  font-weight: 700;
  font-size: 3.625rem;
  line-height: 130%;
}
.fs-54{
  font-weight: 800;
  font-size: 3.375rem;
  line-height: 130%;
}
.fs-44{
  font-weight: 800;
  font-size: 2.75rem;
  line-height: 150%;
}
.fs-18{
  font-size: 1.125rem;
  line-height: 150%;
}
.fs-24{
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 150%;
}
.fs-48{
  font-weight: 700;
  font-size: 3rem;
  line-height: 130%;
}
/*Start Responsive*/
@media (max-width: 1919px) {
  
  .mx-50{
    margin-left: 3.472%;
    margin-right: 3.472%;
  }
  .mx-162{ 
    margin-left: 5.556%;
    margin-right: 5.556%;
  }
  .mt-200{
    margin-top: 10.42%;
  }
  .mt-100{
    margin-top: 6.944%;
  }
  .fs-20{
    font-size: 1rem;
  }
  .fs-22{
    font-size: 1.125rem;
  }
  .fs-28{
    font-size: 1.5rem;
  }
  .fs-58{
    font-size: 3rem;
  }
  .fs-54{
    font-size: 2.5rem;
  }
  .fs-44, 
  .fs-48{
    font-size: 2.125rem;
  }
  .fs-18{
    font-size: 1rem;
  }
  .fs-24{
    font-size: 1.25rem;
  }
}

@media (max-width: 540px) {
  .mx-50,
  .mx-162{
    margin-left: 4.1026%;
    margin-right: 4.1026%;
  }
  .mt-200{
    margin-top: 22.348%;
  }
  .mt-100{
    margin-top: 12.821%;
  }
  .fs-28{
    font-size: 1.375rem;
  }
  .fs-58{
    font-size: 2.375rem;
  }
  .fs-54{
    font-size: 1.875rem;
  }
  .fs-48{
    font-size: 1.75rem;
  }
}


